* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(2, 0, 36);
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.calculator {
  padding: 15px;
  padding-left: 24px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  width: 22%;
}

@media screen and (max-width: 700px) {
  .calculator {
    width: 45%;
  }
}
input::placeholder {
  color: #dad0d0;
}

#display {
  text-align: right;
  background-color: transparent;
  color: white;
  width: 100%;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 3em;
  border-radius: 20px;
  border: none;
  height: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}

button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 5px;
  font-size: 1.4em;
  border-radius: 40px;
  background: transparent;
  box-shadow: 1px 2px 5px 0px darkgrey;
  border: none;
}

.key {
  color: yellow;
}

.keyEqual {
  width: 115px;
}

button:hover {
  background-color: rgb(143, 143, 143);
  color: rgb(0, 0, 0);
}

.ac:hover {
  color: #ffff;
  background-color: #ec9f22;
  /* background-color: burlywood; */
}

.keyEqual:hover {
  font-weight: bolder;
}
